header {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
}

#homeContainer {
  padding: 0 10px;
  margin: 0 auto 10px auto;
}

.details {
  margin-left: 20px;
}
